
.content {
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  h2 {
    text-align: center;
  }

  p {
    line-height: 34px;
    font-size: 1.25em;
    letter-spacing: 1px;
  }
}

.pulldown {
  height: 100%
}

.pulldown-bswrapper {
  position: relative;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  overflow: hidden
}
.pulldown-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.pulldown-list {
  padding: 0
}

.pulldown-list-item {
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #ccc
}

.pulldown-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100%) translateZ(0);
  text-align: center;
  color: #999
}

.pullup-wrapper {
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    overflow: hidden;

    .pullup-content {
      .pullup-list {
          padding: 0;

          ul {
            padding-left:0;

            li {
              list-style: none;
            }
          }
      }
    }
    

    .pullup-tips {
      padding: 20px;
      text-align: center;
      color: #999
    }
}

