

.pull-wrapper {
    height: calc(100vh - 56px);
    padding: 0 10px;
    border: 1px solid #ccc;
    overflow-y: hidden;

    
    .pullup-tips {
      padding: 20px;
      text-align: center;
      color: #999
    }
}

.pull-content {
  position: relative; 
  top: 0;
  left: 0;
  z-index: 20;
}

.pull-indicator {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-lighter);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}