.MuiContainer-root {
  padding-left: 0; 
  padding-right: 0;
}

.content {
  height: calc(100vh - 120px);
  width: 100%;
  overflow: hidden;
}

.content2 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.simple-tabpanel{
  width: 100%;
  height: 100%;
  overflow: scroll;
}


.MuiContainer-root {
  padding-left: 0; 
  padding-right: 0;
}

.article-show h2 {
  text-align: center;
}

.article-show p {
  /* word-spacing: 1.5em; */
  line-height: 34px;
  font-size: 1.25em;
  letter-spacing: 1px;
}

